In [1]:
#%cd twint
#!pip3 install . -r requirements.txt

In [2]:
#Solve compatibility issues with Notebook and Runtime Errors
import nest_asyncio
nest_asyncio.apply()

In [3]:
import twint
import pandas as pd

In [23]:
# Configure
c = twint.Config()
c.Username = "pathak__aditya"
c.Limit = 1000
c.Pandas = True
#c.Search = "tesla"
#c.Store_csv = True
#c.Output = "data.csv"
#c.All = "elonmusk"
# c.Retweets = True
# c.Profile_full = True

# Run
twint.run.Search(c)

#Store it in DataFrame
Tweets_df = twint.storage.panda.Tweets_df

1621103305538830336 2023-02-02 16:38:41 +0530 <pathak__aditya> @aajtak Good budget for India, focused on every sector for the economic growth of the country. #Budget2023
1621098538724904961 2023-02-02 16:19:44 +0530 <pathak__aditya> @yrf Pathaan is a great movie. Great work by all the actors. Much entertained #movies #entertainment
1621097457940824064 2023-02-02 16:15:27 +0530 <pathak__aditya> Heartiest congratulations to Dr. Manmohan Singh for Lifetime achievement award for his economic and political contribution to the nation.
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [24]:
Tweets_df

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1621103305538830336,1620648628749762560,1.675336e+12,2023-02-02 16:38:41,+0530,,"@aajtak Good budget for India, focused on ever...",en,[budget2023],[],...,,,,,,"[{'screen_name': 'aajtak', 'name': 'AajTak', '...",,,,
1,1621098538724904961,1620717316458807296,1.675335e+12,2023-02-02 16:19:44,+0530,,@yrf Pathaan is a great movie. Great work by a...,en,"[movies, entertainment]",[],...,,,,,,"[{'screen_name': 'yrf', 'name': 'Yash Raj Film...",,,,
2,1621097457940824064,1621097457940824064,1.675335e+12,2023-02-02 16:15:27,+0530,,Heartiest congratulations to Dr. Manmohan Sing...,en,[],[],...,,,,,,[],,,,

In [6]:
#Create Functions to get column names and extract required column dataframe
def column_names():
    return twint.output.panda.Tweets_df.columns
def twint_to_pd(columns):
    return twint.output.panda.Tweets_df[columns]

In [7]:
column_names()

Index(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place',
       'tweet', 'language', 'hashtags', 'cashtags', 'user_id', 'user_id_str',
       'username', 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [8]:
tweet_df = twint_to_pd(["tweet"])

In [9]:
tweet_df.head(20)

                                               tweet
0  @aajtak Good budget for India, focused on ever...
1  @yrf Pathaan is a great movie. Great work by a...
2  Heartiest congratulations to Dr. Manmohan Sing...
3  @akshay___sh I think degree not only can defin...

In [10]:
x = ["politics"]*len(tweet_df.axes[0])
x = pd.DataFrame(x,columns =["class"])
tweet_df["class"] = x

C:\Users\mratu\AppData\Local\Temp\ipykernel_22480\2858003785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweet_df["class"] = x

In [11]:
tweet_df

                                               tweet     class
0  @aajtak Good budget for India, focused on ever...  politics
1  @yrf Pathaan is a great movie. Great work by a...  politics
2  Heartiest congratulations to Dr. Manmohan Sing...  politics
3  @akshay___sh I think degree not only can defin...  politics

In [12]:
tweet_df.to_csv("data.csv", mode ='w', encoding = 'utf-8-sig')